[submodule "pelican-bold"]
	path = pelican-bold
	url = https://github.com/icaoberg/pelican-bold.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "pelican-embed-tweet"]
	path = pelican-embed-tweet
	url = https://github.com/lqez/pelican-embed-tweet.git
